<div class="container-fluid mg-t-20">

  <!-- breadcrumb -->

  <div class="breadcrumb-header justify-content-between">

              <div class="left-content">
      <h4 class="content-title mb-2">Hi, welcome back!</h4>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Analytics &amp; Monitoring</li>
        </ol>
      </nav>
    </div>


  </div>
<div class="main-header sticky side-header nav nav-item">
  <div class="container-fluid">
    <div class="main-header-left">
      <div class="responsive-logo">
        <a href="index.html"><img src="assets/img/brand/logo.png" class="logo-1 logo-color1" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/logo2.png" class="logo-1 logo-color2" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/logo3.png" class="logo-1 logo-color3" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/logo4.png" class="logo-1 logo-color4" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/logo5.png" class="logo-1 logo-color5" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/logo6.png" class="logo-1 logo-color6" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/logo-white.png" class="dark-logo-1" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/favicon.png" class="logo-2 logo-color1" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/favicon2.png" class="logo-2 logo-color2" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/favicon3.png" class="logo-2 logo-color3" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/favicon4.png" class="logo-2 logo-color4" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/favicon5.png" class="logo-2 logo-color5" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/favicon6.png" class="logo-2 logo-color6" alt="logo"></a>
        <a href="index.html"><img src="assets/img/brand/favicon-white.png" class="dark-logo-2" alt="logo"></a>
      </div>
      <div class="app-sidebar__toggle d-md-none" data-toggle="sidebar">
        <a class="open-toggle" href="#"><i class="header-icon fe fe-align-left"></i></a>
        <a class="close-toggle" href="#"><i class="header-icons fe fe-x"></i></a>
      </div>
    </div>
    <div class="main-header-right">
      <div class="nav nav-item  navbar-nav-right ml-auto">
        <div class="nav-link" id="bs-example-navbar-collapse-1">
          <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button type="reset" class="btn btn-default">
                  <i class="fas fa-times"></i>
                </button>
                <button type="submit" class="btn btn-default nav-link resp-btn">
                  <i class="fe fe-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
        <div class="main-header-search ml-0 d-sm-none d-none d-lg-block">
          <input class="form-control" id="search-input"  placeholder="Search for anything..." type="text"> <button class="btn"><i class="fas fa-search d-none d-md-block"></i></button>
        </div>
        <div class="dropdown nav-item main-header-notification">
          <a class="new nav-link" href="#"><i class="fe fe-bell"></i><span class=" pulse"></span></a>
          <div class="dropdown-menu shadow">
            <div class="menu-header-content bg-primary text-left d-flex">
              <div class="">
                <h6 class="menu-header-title text-white mb-0">7 new Notifications</h6>
              </div>
              <div class="my-auto ml-auto">
                <span class="badge badge-pill badge-warning float-right">Mark All Read</span>
              </div>
            </div>
            <div class="main-notification-list Notification-scroll ps">
              <a class="d-flex p-3 border-bottom" href="#">
                <div class="notifyimg bg-success-transparent">
                  <i class="la la-shopping-basket text-success"></i>
                </div>
                <div class="ml-3">
                  <h5 class="notification-label mb-1">New Order Received</h5>
                  <div class="notification-subtext">1 hour ago</div>
                </div>
                <div class="ml-auto">
                  <i class="las la-angle-right text-right text-muted"></i>
                </div>
              </a>
              <a class="d-flex p-3 border-bottom" href="#">
                <div class="notifyimg bg-danger-transparent">
                  <i class="la la-user-check text-danger"></i>
                </div>
                <div class="ml-3">
                  <h5 class="notification-label mb-1">22 verified registrations</h5>
                  <div class="notification-subtext">2 hour ago</div>
                </div>
                <div class="ml-auto">
                  <i class="las la-angle-right text-right text-muted"></i>
                </div>
              </a>
              <a class="d-flex p-3 border-bottom" href="#">
                <div class="notifyimg bg-primary-transparent">
                  <i class="la la-check-circle text-primary"></i>
                </div>
                <div class="ml-3">
                  <h5 class="notification-label mb-1">Project has been approved</h5>
                  <div class="notification-subtext">4 hour ago</div>
                </div>
                <div class="ml-auto">
                  <i class="las la-angle-right text-right text-muted"></i>
                </div>
              </a>
              <a class="d-flex p-3 border-bottom" href="#">
                <div class="notifyimg bg-pink-transparent">
                  <i class="la la-file-alt text-pink"></i>
                </div>
                <div class="ml-3">
                  <h5 class="notification-label mb-1">New files available</h5>
                  <div class="notification-subtext">10 hour ago</div>
                </div>
                <div class="ml-auto">
                  <i class="las la-angle-right text-right text-muted"></i>
                </div>
              </a>
              <a class="d-flex p-3 border-bottom" href="#">
                <div class="notifyimg bg-warning-transparent">
                  <i class="la la-envelope-open text-warning"></i>
                </div>
                <div class="ml-3">
                  <h5 class="notification-label mb-1">New review received</h5>
                  <div class="notification-subtext">1 day ago</div>
                </div>
                <div class="ml-auto">
                  <i class="las la-angle-right text-right text-muted"></i>
                </div>
              </a>
              <a class="d-flex p-3" href="#">
                <div class="notifyimg bg-purple-transparent">
                  <i class="la la-gem text-purple"></i>
                </div>
                <div class="ml-3">
                  <h5 class="notification-label mb-1">Updates Available</h5>
                  <div class="notification-subtext">2 days ago</div>
                </div>
                <div class="ml-auto">
                  <i class="las la-angle-right text-right text-muted"></i>
                </div>
              </a>
              <div class="dropdown-footer">
                <a href="#">VIEW ALL</a>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown main-profile-menu nav nav-item nav-link">
          <a class="profile-user d-flex" href="#"><img alt="" src="assets/img/faces/6.jpg">
            <div class="p-text d-none">
              <span class="p-name font-weight-bold">Mintrona Pechon</span>
              <small class="p-sub-text">Premium Member</small>
            </div>
          </a>
          <div class="dropdown-menu shadow">
            <div class="main-header-profile header-img">
              <div class="main-img-user"><img alt="" src="assets/img/faces/6.jpg"></div>
              <h6>Mintrona Pechon</h6><span>Premium Member</span>
            </div>
            <a class="dropdown-item" href="#"><i class="far fa-user"></i> My Profile</a>
            <a class="dropdown-item" href="#"><i class="far fa-edit"></i> Edit Profile</a>
            <a class="dropdown-item" href="#"><i class="far fa-clock"></i> Activity Logs</a>
            <a class="dropdown-item" href="#"><i class="fas fa-sliders-h"></i> Account Settings</a>
            <a class="dropdown-item" href="signin.html"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
          </div>
        </div>
        <div class="dropdown main-header-message right-toggle">
          <a class="nav-link pr-0" data-toggle="sidebar-right" data-target=".sidebar-right">
            <i class="ion ion-md-menu tx-20 bg-transparent"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<div class="switcher-wrapper ">
  <div class="demo_changer">
    <div class="demo-icon">
      <a class="bg-primary-transparent active" title="Themes"><i class="fa fa-cog fa-spin text-primary"></i></a>
    </div>
    <div class="form_holder sidebar-right1">
      <div class="tabs-menu">
        <ul class="nav panel-tabs">
          <li><a class="active" title="Themes" href="#switcher1" data-toggle="tab"><i class="fe fe-droplet mr-1"></i> Themes</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="switcher1">
          <div class="row">
            <div class="predefined_styles">
              <div class="swichermainleft border-top  mt-2 text-center">
                <div class="p-3">
                  <a href="index.html" class="btn btn-primary btn-block mt-0">LTR VERSION</a>
                  <a href="https://laravel.spruko.com/dashfox/rtl/index" class="btn btn-success btn-block ">RTL VERSION</a>
                </div>
              </div>
              <div class="swichermainleft border-top  mt-2 text-center">
                <div class="p-3">
                  <a href="https://laravel.spruko.com/dashfox" class="btn btn-primary btn-block mt-0">View Demo</a>
                  <a href="https://themeforest.net/item/dashfox-dashboard-html-template/28122999" class="btn btn-secondary btn-block">Buy Now</a>
                  <a href="https://themeforest.net/user/sprukosoft/portfolio" class="btn btn-success btn-block">Our Portfolio</a>
                </div>
              </div>
              <div class="swichermainleft">
                <h4>Body Skins</h4>
                <div class="switch_section">
                  <div class="switch-toggle d-flex">
                    <span class="mr-auto">Default Body</span>
                    <div class="onoffswitch2"><input type="radio" name="onoffswitch" id="myonoffswitch7" class="onoffswitch2-checkbox" checked>
                      <label for="myonoffswitch7" class="onoffswitch2-label"></label>
                    </div>
                  </div>
                  <div class="switch-toggle d-flex">
                    <span class="mr-auto">Body Style1</span>
                    <div class="onoffswitch2"><input type="radio" name="onoffswitch" id="myonoffswitch6" class="onoffswitch2-checkbox">
                      <label for="myonoffswitch6" class="onoffswitch2-label"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swichermainleft">
                <h4>Leftmenu Styles</h4>
                <div class="switch_section">
                  <div class="switch-toggle horizontal-light-switcher d-flex">
                    <span class="mr-auto">Leftmenu Light</span>
                    <div class="onoffswitch2"><input type="radio" name="onoffswitch3" id="myonoffswitch9" class="onoffswitch2-checkbox">
                      <label for="myonoffswitch9" class="onoffswitch2-label"></label>
                    </div>
                  </div>
                  <div class="switch-toggle d-flex">
                    <span class="mr-auto">Leftmenu Color</span>
                    <div class="onoffswitch2"><input type="radio" name="onoffswitch3" id="myonoffswitch10" class="onoffswitch2-checkbox" checked>
                      <label for="myonoffswitch10" class="onoffswitch2-label"></label>
                    </div>
                  </div>
                  <div class="switch-toggle horizontal-Dark-switcher d-flex">
                    <span class="mr-auto">Leftmenu Dark</span>
                    <div class="onoffswitch2"><input type="radio" name="onoffswitch3" id="myonoffswitch11" class="onoffswitch2-checkbox">
                      <label for="myonoffswitch11" class="onoffswitch2-label"></label>
                    </div>
                  </div>
                  <div class="switch-toggle d-flex">
                    <span class="mr-auto">Reset Leftmenu Styles</span>
                    <div class="onoffswitch2"><input type="radio" name="onoffswitch3" id="myonoffswitch13" class="onoffswitch2-checkbox">
                      <label for="myonoffswitch13" class="onoffswitch2-label"></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swichermainleft">
                <h4>Color Skins</h4>
                <div class="skin-body">
                  <a class="wscolorcode1 blackborder color1" data-theme="https://laravel.spruko.com/dashfox/ltr/assets/css/colors/color.css" href="#"></a>
                  <a class="wscolorcode1 blackborder color2" data-theme="https://laravel.spruko.com/dashfox/ltr/assets/css/colors/color2.css" href="#"></a>
                  <a class="wscolorcode1 blackborder color3" data-theme="https://laravel.spruko.com/dashfox/ltr/assets/css/colors/color3.css" href="#"></a>
                  <a class="wscolorcode1 blackborder color4" data-theme="https://laravel.spruko.com/dashfox/ltr/assets/css/colors/color4.css" href="#"></a>
                  <a class="wscolorcode1 blackborder color5" data-theme="https://laravel.spruko.com/dashfox/ltr/assets/css/colors/color5.css" href="#"></a>
                  <a class="wscolorcode1 blackborder color6" data-theme="https://laravel.spruko.com/dashfox/ltr/assets/css/colors/color6.css" href="#"></a>
                </div>
              </div>
              <div class="swichermainleft">
                <h4>Skin Modes</h4>
                <div class="skin-body light-pattern">
                  <a class="" href = "#"><img class="theme-image1 mb-3" id="myonoffswitchimg1" src="assets/switcher/images/themes/1.jpg" alt="img"></a>
                  <a class="" href = "#"><img class="theme-image1 mb-3" id="myonoffswitchimg2" src="assets/switcher/images/themes/2.jpg" alt="img"></a>
                </div>
              </div>
              <div class="swichermainleft">
                <h4>Navigation</h4>
                <div class="skin-body light-pattern">
                  <p class="font-weight-semibold">Leftmenu Navigation</p>
                  <a class="" href="vertical.html"><img class="theme-image1 mb-3" src="assets/switcher/images/themes/3.jpg" alt="img"></a>
                  <p class="font-weight-semibold mt-4">Horizontal Navigation</p>
                  <a class="" href="horizontal.html"><img class="theme-image1 mb-3" src="assets/switcher/images/themes/1.jpg" alt="img"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
