<div class="row row-sm">
  <div class="col-xl-12">
      <div class="card">
          <div class="card-header pb-0 pd-t-25 ">
              <div class="d-flex justify-content-between mb-5">
                  <h4 class="card-title mg-t-5">Liste des outillages</h4>
                  <div class="col-sm-5 col-md-2 mg-t-10 mg-sm-t-0">
                      <button class="btn btn-primary btn-with-icon btn-block"*ngIf="hasprivilege('add_outillage')"  data-target="#add" data-toggle="modal"><i class="typcn typcn-plus"></i></button>
                  </div>
              </div>
          </div>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-striped table-bordered text-nowrap">
                      <thead style="text-align: center;">
                          <tr>
                              <th class="wd-15p border-bottom-0">Intitule</th>
                              <th class="wd-5p border-bottom-0">Action</th>
                          </tr>
                      </thead>
                      <tbody style="text-align:center">
                          <tr *ngFor="let outillage of outillages">
                              <td>{{ outillage.intitule }}</td>
                              <td>
                                  <div class="btn-icon-list mx-5">
                                      <button class="btn btn-warning btn-icon"data-placement="bottom" title="Modifier" *ngIf="hasprivilege('edit_outillage')" (click)="selectOutillage(outillage)" data-target="#edit" data-toggle="modal"><i class="typcn typcn-brush"></i></button>
                                      <button class="btn btn-danger btn-icon" data-placement="bottom" title="Supprimer" *ngIf="hasprivilege('delete_outillage')" (click)="selectOutillage(outillage)" data-target="#delete" data-toggle="modal"><i class="typcn typcn-trash"></i></button>
                                  </div>

                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <!-- bd -->
          </div><!-- bd -->
      </div><!-- bd -->
  </div>

  </div>
  <!-- Delete operation  -->
<div class="modal" id="delete">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tx-size-sm">
          <div class="modal-body tx-center pd-y-20 pd-x-20">
              <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button> <i class="icon icon ion-ios-close-circle-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
              <h4 class="tx-danger mg-b-20">Information</h4>
              <p class="mg-b-20 mg-x-20">Voulez vous vraiment supprimer cet élément?</p>
              <div style="display:flex;justify-content:space-between">
                  <button aria-label="Close" class="btn ripple btn-light pd-x-25" data-dismiss="modal" type="button">Annuler</button>
                  <button aria-label="Close" class="btn ripple btn-danger pd-x-25" (click)="delete(selectedElement?.id!)" data-dismiss="modal" type="button">Supprimer</button>
              </div>

          </div>
      </div>
  </div>
</div>

<!-- Add operation  -->
<div class="modal" id="add">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-demo">
          <div class="modal-header">
              <h6 class="modal-title">Ajouter un outillage</h6>
              <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <h6 style="font-weight:bolder;margin-top:10px">Intitule</h6>
              <div class="col-lg">
                  <input class="form-control" placeholder="Input box" type="text" [(ngModel)]="selectedIntitule">
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn ripple btn-light" data-dismiss="modal" type="button">Annuler</button>
              <button class="btn ripple btn-primary" data-dismiss="modal" type="button" (click)="add()">Valider</button>
          </div>
      </div>
  </div>
</div>
<!-- Edit operation -->
<div class="modal" id="edit">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-demo">
          <div class="modal-header">
              <h6 class="modal-title">Modifier un outillage</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <h6 style="font-weight:bolder;margin-top:10px">Intitule</h6>
              <div class="col-lg">
                  <input class="form-control" placeholder="Input box" type="text" [(ngModel)]="selectedElement.intitule">
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn ripple btn-light" data-dismiss="modal" type="button" >Annuler</button>
              <button class="btn ripple btn-primary" data-dismiss="modal" type="button" (click)="edit(selectedElement?.id!)">Valider</button>
          </div>
      </div>
  </div>
</div>
