<div class="card">
    <div class="row no-gutters">
        <div class="col-sm-12 col-lg-5 col-xl-4">
            <div class="custom-card">
                <div class="">
                    <div class="main-content-app main-content-contacts pt-0">
                        <div class="main-content-left main-content-left-contacts">
                            <div class="tabs-heading">
                                <nav class="nav main-nav-line main-nav-line-chat pl-3 tabs-menu">
                                    <a class="nav-link active" data-toggle="tab" href="#mainContactList"><i class="typcn typcn-group-outline tx-24 mg-r-5"></i> Maintenances </a>
                                    <a class="nav-link" data-toggle="tab" href="#favourites"><i class="typcn typcn-star-outline tx-24 mg-r-5"></i> Actions </a>
                                </nav>
                            </div>
                            <div class="tab-content">
                                <div class="main-contacts-list tab-pane active ps ps--active-y" id="mainContactList"  style="overflow-y:scroll">
                                    <div class="main-contact-item selected"  *ngFor="let maintenance of maintenances_list">
                                        
                                        <div class="main-contact-body">
                                            <h6><span style="font-weight:bolder">Equipement</span> : <span class="badge badge-primary" style="font-size: medium;color:white"> {{ maintenance.equipement?.element }} </span></h6>
                                            <h6><span style="font-weight:bolder">Operation</span>  : <span class="badge badge-primary" style="font-size: medium;color:white">{{  maintenance.operation  }}</span></h6>
                                            <h6><span style="font-weight:bolder">Duree</span>  : <span class="badge badge-warning" style="font-size: medium;color:white">{{  maintenance.charge  }}</span></h6>
                                            <h6><span style="font-weight:bolder">Outillage</span>  : <span class="badge badge-primary" style="font-size: medium;color:white">{{ maintenance.outillage?.length!<1 ? "Aucun" :  maintenance.outillage}}</span></h6>
                                            <span class="phone">{{ maintenance.created_at | date:"EEEE, MMMM d, y, h:mm:ss" }}</span>
                                        </div>
                                    </div> 
                                <div class="ps__rail-x" style="left: 0px; top: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 635px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 416px;"></div></div><div class="ps__rail-x" style="left: 0px; top: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 635px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 416px;"></div></div></div>
                                <div class="main-contacts-list tab-pane" id="favourites"  style="overflow-y:scroll">
                                    <div class="card-body pd-20">
                                        <div class="col-lg-12 " style="display: flex;justify-content:space-between">
                                            <h5 class="card-title text-primary mt-2">Dernieres Actions</h5>
                                            <div class="dropdown d-inline-flex">
                                                <button aria-expanded="false" aria-haspopup="true" class="btn ripple btn-primary btn-rounded" data-toggle="dropdown" type="button">Periode<i class="fas fa-caret-down ml-1"></i></button>
                                                <div  class="dropdown-menu shadow tx-13">
                                                    <a class="dropdown-item" (click)="changePeriode(0)">Aujourd'hui</a>
                                                    <a class="dropdown-item" (click)="changePeriode(1)">Cette semaine </a>
                                                    <a class="dropdown-item" (click)="changePeriode(2)">Ce mois</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <p class="tx-gray-800 mg-b-0 mg-t-20"> {{ periodeStr }}</p>
                                        <div class="d-flex mg-t-20" *ngFor="let log of logs">
                                            <div class="feature mt-0 mb-0 mg-r-10">
                                                <i class="fe fe-arrow-up-right project bg-danger-transparent text-danger"></i>
                                            </div>
                                            <div class="mg-t-5">
                                                <h5 class="tx-14 mg-b-0 font-weight-bold">{{ log.action }}</h5>
                                                <small class="tx-gray-800">Par l'agent {{ log.user }}</small>
                                            </div>
                                            <div class="ml-auto text-right mg-t-5">
                                                <h5 class="tx-14 mg-b-0 tx-gray-800">{{ log.created_at | date:"h:mm:ss" }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-7 col-xl-8">
            <div class="">
                <a class="main-header-arrow" href="#" id="ChatBodyHide"><i class="icon ion-md-arrow-back"></i></a>
                <div class="main-content-body main-content-body-contacts custom-card">
                    <div class="main-contact-info-header pt-3">
                        <div class="media">
                            <div class="main-img-user">
                                <img alt="avatar" src="../../../assets/img/profil.png"> <a href="#"><i class="fe fe-camera"></i></a>
                            </div>
                            <div class="media-body">
                                <h5>{{ agent.nom }}</h5>
                                <p>{{ agent.specialite }}</p>
                                <nav class="contact-info">
                                    <a href="#"  class="contact-icon border tx-inverse" title="" ><i class="fe fe-message-square"></i></a>
                                </nav>
                            </div>
                        </div>
                        <div class="main-contact-action btn-list pt-3 pr-3">
                            <a href="#" *ngIf="user_connected.id==agent.id" class="btn ripple btn-warning text-white btn-icon" data-placement="top" data-target="#updateAgent" data-toggle="modal"><i class="fe fe-edit"></i></a>
                        </div>
                    </div>
                    <div class="main-contact-info-body p-4 ps">
                        <div>
                            <h6>Biography</h6>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        </div>
                        <div class="media-list pb-0">
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <label>Travail</label> <span class="tx-medium">{{ agent.telephone }}</span>
                                    </div>
                                    <div>
                                        <label>Personnel</label> <span class="tx-medium">{{ agent.telephone }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <label>Compte email</label> <span class="tx-medium">{{ agent.email }}</span>
                                    </div>
                                    <div>
                                        <label>Autre compte </label> <span class="tx-medium">{{ agent.email }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <label>Adresse</label> <span class="tx-medium">012 Dashboard Apartments, San Francisco, California 13245</span>
                                    </div>
                                </div>
                            </div>
                            <div class="media mb-0">
                                <div class="media-body">
                                    <div>
                                        <label>Membre depuis </label> <span class="tx-medium">{{ agent.created_at | date:"EEEE, MMMM d, y, h:mm:ss" }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="ps__rail-x" style="left: 0px; top: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div><div class="ps__rail-x" style="left: 0px; top: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="updateAgent">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" style="font-weight:bolder">Modifier les informations de l'agent <span style="font-weight:bold">{{ agent.nom }}</span></h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
             <div class="modal-body">
                <div class="col-lg mt-3">
                    <label for="agence" class="form-label">Agence<span style="color:red">*</span></label>
                    <select class="form-select"  id="agence" [(ngModel)]="agent.id_agence" >
                        <option disabled>
                            Choisir l'agence correspondante
                        </option> 
                        <option *ngFor="let agence of agences" value="{{ agence.id }}">
                            {{ agence.nom }}
                        </option>
                    </select>
                </div>
                <div class="col-lg mt-3">
                    <label for="specialite" class="form-label">Specialite</label>
                    <select class="form-select"  id="specialite" [(ngModel)]="agent.specialite" >
                        <option disabled>
                            specialite de l'agent
                        </option>
                        <option *ngFor="let specialite of specialites" value="{{ specialite }}">
                            {{ specialite }}
                        </option>
                    </select>
                </div>
                <div class="col-lg">
                    <label for="nom" class="form-label">Nom<span style="color:red">*</span></label>
                    <input id = "nom" class="form-control" placeholder="Nom de l'agent'" type="text" [(ngModel)]="agent.nom">
                </div>
                <div class="col-lg">
                    <label for="code" class="form-label">Pseudo</label>
                    <input id = "code" class="form-control" placeholder="Pseudo de l'agent'" type="test" [(ngModel)]="agent.pseudo">
                </div>
                <div class="col-lg">
                    <label for="code" class="form-label">Telephone<span style="color:red">*</span></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="typcn typcn-phone-outline"></i></span>
                        </div>
                        <input aria-describedby="basic-addon1" aria-label="phone" class="form-control" [(ngModel)]="agent.telephone" placeholder="Contact de l'agent" type="text">
                    </div>
                </div>
                <div class="col-lg">
                <label for="code" class="form-label">Email</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input aria-describedby="basic-addon1" aria-label="e-mail" class="form-control" [(ngModel)]="agent.email" placeholder="Email" type="text">
                </div>
                </div>
                <!-- <div class="col-lg">
                    <label for="code" class="form-label">email<span style="color:red">*</span></label>
                    <input id = "code" class="form-control" placeholder="e-mail de l'agent'" type="email" [(ngModel)]="agent.email">
                </div> -->
                
                
            <div class="modal-footer">
                <button *ngIf="agent.id_agence!=undefined && agent.nom != undefined && agent.pseudo!=undefined && agent.email !=undefined" class="btn ripple btn-primary" (click)="updateAgent()" data-dismiss="modal" type="button">Save changes</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- 

 -->
 <!-- <div class="card">
    <div class="row no-gutters">
        <div class="col-sm-12 col-lg-5 col-xl-4">
            <div class="custom-card">
                <div class="">
                    <div class="main-content-app main-content-contacts pt-0">
                        <div class="main-content-left main-content-left-contacts">
                            <div class="tabs-heading">
                                <nav class="nav main-nav-line main-nav-line-chat pl-3 tabs-menu">
                                    <a class="nav-link active" data-toggle="tab" href="#mainContactList"><i class="typcn typcn-group-outline tx-24 mg-r-5"></i> All Contacts</a>
                                    <a class="nav-link" data-toggle="tab" href="#favourites"><i class="typcn typcn-star-outline tx-24 mg-r-5"></i> Favorites</a>
                                </nav>
                            </div>
                            <div class="tab-content">
                                <div class="main-contacts-list tab-pane active ps ps--active-y" id="mainContactList">
                                    
                                <div class="ps__rail-x" style="left: 0px; top: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 635px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 416px;"></div></div><div class="ps__rail-x" style="left: 0px; top: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 635px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 416px;"></div></div></div>
                                <div class="main-contacts-list tab-pane" id="favourites">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-7 col-xl-8">
            <div class="">
                <a class="main-header-arrow" href="#" id="ChatBodyHide"><i class="icon ion-md-arrow-back"></i></a>
                <div class="main-content-body main-content-body-contacts custom-card">
                    <div class="main-contact-info-header pt-3">
                        <div class="media">
                            <div class="main-img-user">
                                <img alt="avatar" src="assets/img/faces/6.jpg"> <a href="#"><i class="fe fe-camera"></i></a>
                            </div>
                            <div class="media-body">
                                <h5>Mintrona Pechon</h5>
                                <p>Web Designer</p>
                                <nav class="contact-info">
                                    <a href="#" class="contact-icon border tx-inverse" data-toggle="tooltip" title="" data-original-title="Call"><i class="fe fe-phone"></i></a>
                                    <a href="#" class="contact-icon border tx-inverse" data-toggle="tooltip" title="" data-original-title="Video"><i class="fe fe-video"></i></a>
                                    <a href="#" class="contact-icon border tx-inverse" data-toggle="tooltip" title="" data-original-title="message"><i class="fe fe-message-square"></i></a>
                                    <a href="#" class="contact-icon border tx-inverse" data-toggle="tooltip" title="" data-original-title="Add to Group"><i class="fe fe-user-plus"></i></a>
                                    <a href="#" class="contact-icon border tx-inverse" data-toggle="tooltip" title="" data-original-title="Block"><i class="fe fe-slash"></i></a>
                                </nav>
                            </div>
                        </div>
                        <div class="main-contact-action btn-list pt-3 pr-3">
                            <a href="#" class="btn ripple btn-primary text-white btn-icon" data-placement="top" data-toggle="tooltip" title="" data-original-title="Edit Profile"><i class="fe fe-edit"></i></a>
                            <a href="#" class="btn ripple btn-secondary text-white btn-icon" data-placement="top" data-toggle="tooltip" title="" data-original-title="Delete Profile"><i class="fe fe-trash-2"></i></a>
                        </div>
                    </div>
                    <div class="main-contact-info-body p-4 ps">
                        <div>
                            <h6>Biography</h6>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        </div>
                        <div class="media-list pb-0">
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <label>Work</label> <span class="tx-medium">+1 (234) 567 8901</span>
                                    </div>
                                    <div>
                                        <label>Personal</label> <span class="tx-medium">+1 (498) 021 0090</span>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <label>Gmail Account</label> <span class="tx-medium">sonia.taylor@gmail.com</span>
                                    </div>
                                    <div>
                                        <label>Other Account</label> <span class="tx-medium">me@bootstrapdash.me</span>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <label>Current Address</label> <span class="tx-medium">012 Dashboard Apartments, San Francisco, California 13245</span>
                                    </div>
                                </div>
                            </div>
                            <div class="media mb-0">
                                <div class="media-body">
                                    <div>
                                        <label>Call History</label> <span class="tx-medium">Duration of last call: 2m 32sec</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="ps__rail-x" style="left: 0px; top: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div><div class="ps__rail-x" style="left: 0px; top: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div> -->