<div class="my-auto page page-h">
    <div class="main-signin-wrapper error-wrapper">
    <div class="main-card-signin">
       
        <div class="p-5">
            <div class="main-signin-header">
                <h2 style="text-align: center;"><span class="badge badge-primary p-2">SMART ENTREPRISE</span></h2>
                <h4 style="text-align:center">Connectez vous a l'entreprise pour continuer</h4>
                
                    <div class="form-group">
                        <label>Email Entreprise</label>
                        <input [(ngModel)]="login_data.email_entreprise" type="text" class="form-control" placeholder="Email de l'entreprise" aria-label="Username" aria-describedby="basic-addon1">
                        
                    </div>
                    <div class="form-group">
                        <label>Code Entreprise</label> 
                        <input [(ngModel)]="login_data.code_entreprise" class="form-control" placeholder="code de l'entreprise" type="password">
                    </div>

                    <div class="form-group">
                        <label>Pseudo Agent</label> 
                        <input [(ngModel)]="login_data.pseudo" class="form-control" placeholder="Pseudo de l'agent " type="text">
                    </div>

                    <div class="form-group">
                        <label>Mot de passe Agent</label> 
                        <input [(ngModel)]="login_data.password" class="form-control" placeholder="Mot de passe " type="password">
                    </div>
                    
                    <button class="btn btn-main-primary btn-block" (click)="signIn()">Sign In</button>
                
            </div>
            <div class="main-signin-footer mt-3 mg-t-5" style="text-align: center;">
                <p><a href="#" class="text-primary">Forgot password?</a></p>
                <p>Pas d'entreprise creer ? <a href="page-signup.html" class="text-primary">Creez une entreprise</a></p>
            </div>
        </div>
    </div>
    </div>
</div>