<div class="my-auto page page-h">
    <div class="main-signin-wrapper error-wrapper">
        <div class="main-card-signin d-md-flex wd-100p">
        <div class="wd-md-50p login d-none d-md-block page-signin-style p-5 text-white" >
            <div class="my-auto authentication-pages">
                <div>
                    <img src="assets/img/brand/logo-white.png" class=" m-0 mb-4" alt="logo">
                    <h5 class="mb-4">Responsive Modern Dashboard &amp; Admin Template</h5>
                    <p class="mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <a href="index.html" class="btn btn-danger">Learn More</a>
                </div>
            </div>
        </div>
        <div class="p-5 wd-md-50p">
            <div class="main-signin-header">
                <h2>Welcome back!</h2>
                <h4>Please sign in to continue</h4>
                
                    <div class="form-group">
                        <label>Email</label>
                        <input [(ngModel)]="login_data.email" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        
                    </div>
                    <div class="form-group">
                        <label>Code</label> <input [(ngModel)]="login_data.code" class="form-control" placeholder="Enter entreprise code" type="password">
                    </div><button class="btn btn-main-primary btn-block" (click)="signIn()">Sign In</button>
                
            </div>
            <div class="main-signin-footer mt-3 mg-t-5">
                <p><a href="#">Forgot password?</a></p>
                <p>Don't have an account? <a href="page-signup.html">Create an Account</a></p>
            </div>
        </div>
    </div>
    </div>
</div>