<div class="my-auto page page-h">
    <div class="main-signin-wrapper error-wrapper">
    <div class="main-card-signin">

        <div class="p-5" style="width: 100%;padding-top: 1rem !important; padding-bottom: 1rem !important;">
            <div class="main-signin-header">
                <h2 style="text-align: center;">
                  <img src="assets/img/brand/logo.png" style="width: 180px;"/>
                </h2>
                <h4 style="text-align:center">Se connecter</h4>

                    <div class="form-group">
                        <label>Pseudo</label>
                        <input [(ngModel)]="login_data.pseudo" class="form-control" placeholder="Pseudo" type="text">
                    </div>

                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input [(ngModel)]="login_data.password" class="form-control" placeholder="Mot de passe" type="password">
                    </div>

                    <button class="btn btn-main-primary btn-block" (click)="signIn()">Connexion</button>

            </div>
        </div>
    </div>
    </div>
</div>
