<div class="col-xl-12">
    <div class="card">
        <div class="card-header pb-0 pd-t-25 ">
            <div class="d-flex justify-content-between mb-5">
                <h4 class="card-title mg-t-5">SALLES</h4>
                <div class="col-sm-5 col-md-2 mg-t-10 mg-sm-t-0">
                    <button *ngIf="hasprivilege('add_salle')" data-target="#addSalle" data-toggle="modal" data-placement="bottom" title="Ajouter une nouvelle salle" class="btn btn-primary btn-with-icon btn-block"><i class="typcn typcn-plus"></i> Salle </button>
                  </div>
            </div>

            <div class="d-flex justify-content-between mb-3">

                <div class="col-lg-6 mg-t-20 mg-lg-t-0">
                    <select data-placement="bottom" title="Filtrer la liste des salles par agence" class="form-select" aria-label="Default select example" [(ngModel)]="selected_agence_id" (ngModelChange)="filterByAgence()">
                        <option selected value="0">Toutes les agences
                        </option>
                        <option *ngFor="let agence of agences_list" value="{{ agence.id }}">
                            {{ agence.nom }}
                        </option>
                    </select>
                </div>
                <div class="col-lg-6 mg-t-20 mg-lg-t-0">
                    <div class="input-group" data-placement="bottom" title="Rechercher une salle ">
                        <input class="form-control" placeholder="Recherchez par nom ou localisation " type="text" [(ngModel)]="searchSalle" (ngModelChange)="filterSalle()"> <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="input-group-btn"><i class="fa fa-search"></i></span></button></span>
                    </div>
                </div>

            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table  class="table table-striped table-bordered text-nowrap" >
                    <thead style="text-align: center;">
                        <tr>
                            <th class="wd-15p border-bottom-0">Nom</th>
                            <th class="wd-15p border-bottom-0">Agence</th>
                            <th class="wd-10p border-bottom-0">Tel</th>
                            <th class="wd-10p border-bottom-0">Equipements</th>
                            <th class="wd-10p border-bottom-0">indication</th>
                            <th class="wd-5p border-bottom-0">Actions</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        <tr *ngFor="let salle of salles_list">
                            <!-- (click)="checkAgence(agence!.id!)" -->

                            <td>{{ salle.nom }}</td>
                            <td>{{ salle.agence!.nom}} </td>
                            <td>{{ salle.tel }}</td>
                            <th>{{ salle.nbequipements }}</th>
                            <td>{{ salle.indication }}</td>
                            <td style="align-items:center">
                                <div class="btn-icon-list">
                                    <button data-placement="bottom" *ngIf="hasprivilege('update_salle')" title="Modifier une salle" (click)="selectSalle(salle)" data-target="#updateSalle" data-toggle="modal" class="btn btn-warning btn-icon"><i class="typcn typcn-brush"></i></button>
                                    <button data-placement="bottom" *ngIf="hasprivilege('delete_salle')" title="Supprimer une salle" (click)="selectSalle(salle)" data-target="#deleteSalle" data-toggle="modal" class="btn btn-danger btn-icon"><i class="typcn typcn-trash"></i></button>
                                    <button data-placement="bottom" *ngIf="hasprivilege('add_equipement')" title="Ajouter equipements dans une salle" routerLink="/linkEqToSalle/{{ salle.id }}" class="btn btn-success btn-icon"><i class="typcn typcn-link"></i></button>
                                    <!-- <button (click)="selectSalle(salle)" data-target="#linkEquipement" data-toggle="modal" class="btn btn-success btn-icon"><i class="typcn typcn-link"></i></button> -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- bd -->
        </div><!-- bd -->
    </div><!-- bd -->
</div>

<!-- Add salle  -->
<div class="modal" id="addSalle">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" style="font-weight:bolder">Ajouter une salle</h6>
                <button aria-label="Close" class="close" data-dismiss="modal" id="close" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
             <div class="modal-body">
                <div class="col-lg mt-3">
                    <label for="localisation" class="form-label">Agence <span style="color:red">*</span></label>
                    <select class="form-select"  id="agence" [(ngModel)]="new_salle.id_agence" >
                        <option *ngFor="let agence of agences_list" value="{{ agence.id }}">{{ agence.nom }}</option>
                    </select>
                </div>
                <div class="col-lg">
                    <label for="nom" class="form-label">Nom <span style="color:red">*</span></label>
                    <input id = "nom" class="form-control" placeholder="Nom de la salle" type="text" [(ngModel)]="new_salle.nom">
                </div>
                <div class="col-lg">
                    <label for="code" class="form-label">telephone de la salle <span style="color:red">*</span></label>
                    <input id = "code" class="form-control" placeholder="Tel" type="text" [(ngModel)]="new_salle.tel">
                </div>
                <div class="col-lg">
                    <label for="code" class="form-label">indication de la salle <span style="color:red">*</span></label>
                    <input id = "code" class="form-control" placeholder="Indication(s)" type="text" [(ngModel)]="new_salle.indication">
                </div>
                <div class="col-lg">
                    <label for="description" class="form-label">description</label>
                    <textarea id = "description" class="form-control" placeholder="description de la salle " rows="5" [(ngModel)]="new_salle.description"></textarea>
                </div>

            <div class="modal-footer">
                <button  class="btn ripple btn-primary"
                 (click)="createSalle()" data-dismiss="modal" type="button">Enregistrer</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Fermer</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- update salle  -->
<div class="modal" id="updateSalle">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" style="font-weight:bolder">Modifier une salle {{ select_salle.nom }}</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
             <div class="modal-body">
                <div class="col-lg mt-3">
                    <label for="localisation" class="form-label">Agence<span style="color:red">*</span></label>
                    <select class="form-select"  id="agence" [(ngModel)]="select_salle.id_agence" >
                        <option>
                            Choisir l'agence
                        </option>
                        <option *ngFor="let agence of agences_list" value="{{ agence.id }}">{{ agence.nom }}</option>
                    </select>
                </div>
                <div class="col-lg">
                    <label for="nom" class="form-label">Nom<span style="color:red">*</span></label>
                    <input id = "nom" class="form-control" placeholder="Nom de la salle" type="text" [(ngModel)]="select_salle.nom">
                </div>
                <div class="col-lg">
                    <label for="code" class="form-label">telephone de la salle <span style="color:red">*</span></label>
                    <input id = "code" class="form-control" placeholder="Tel" type="number" [(ngModel)]="select_salle.tel">
                </div>
                <div class="col-lg">
                    <label for="code" class="form-label">indication de la salle <span style="color:red">*</span></label>
                    <input id = "code" class="form-control" placeholder="Indication(s)" type="text" [(ngModel)]="select_salle.indication">
                </div>
                <div class="col-lg">
                    <label for="description" class="form-label">description</label>
                    <textarea id = "description" class="form-control" placeholder="description de la salle " rows="5" [(ngModel)]="select_salle.description"></textarea>
                </div>

            <div class="modal-footer">
                <button class="btn ripple btn-primary"
                 (click)="updateSalle()" data-dismiss="modal" type="button">Enregistrer</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Fermer</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- delete salle  -->
<div class="modal" id="deleteSalle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button> <i class="icon icon ion-ios-close-circle-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-danger mg-b-20">Information</h4>
        <p class="mg-b-20 mg-x-20">Voulez vous vraiment supprimer cet élément?</p>
                <div style="display:flex;justify-content:space-between">
                    <button aria-label="Close" class="btn ripple btn-light pd-x-25" data-dismiss="modal" type="button">Annuler</button>
                    <button aria-label="Close" class="btn ripple btn-danger pd-x-25" (click)="removeSalle()" data-dismiss="modal" type="button">Supprimer</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Link equipment to salle  -->
<div class="modal" id="linkEquipement">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" style="font-weight:bolder">Ajouter un equipement a la salle  <span style="font-weight:bold">{{ select_salle.nom }}</span></h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
             <div class="modal-body">
                <div class="col-lg mt-3">
                    <label for="equipement" class="form-label">Equipement<span style="color:red">*</span></label>
                    <select class="form-select"  id="equipement" [(ngModel)]="new_possessionEq.id_equipement">
                        <option *ngFor="let equipement of equipements_list" value="{{ equipement.id }}">
                            {{ equipement.element }}
                        </option>
                    </select>
                </div>
                <div class="col-lg mt-3">
                    <label for="fournisseur" class="form-label">Fournisseur<span style="color:red">*</span></label>
                    <select class="form-select"  id="fournisseur" [(ngModel)]="new_possessionEq.id_fournisseur">
                        <option *ngFor="let fournisseur of fournisseurs_list" value="{{ fournisseur.id }}">
                            {{ fournisseur.nom }}
                        </option>
                    </select>
                </div>
                <div class="col-lg mt-3">
                <label for="code" class="form-label">Etat actuel<span style="color:red">*</span></label>
                <select class="form-select"  id="fournisseur" [(ngModel)]="new_possessionEq.etat">
                    <option  value="M">
                        Marche
                    </option>
                    <option  value="A">
                        Arret
                    </option>
                </select>
                </div>
                <!-- <div class="col-lg">
                    <label for="code" class="form-label">email<span style="color:red">*</span></label>
                    <input id = "code" class="form-control" placeholder="e-mail de l'agent'" type="email" [(ngModel)]="selected_agent.email">
                </div> -->


            <div class="modal-footer">
                <button *ngIf="new_possessionEq.id_equipement!=null && new_possessionEq.id_fournisseur!=null && new_possessionEq.etat!=null" class="btn ripple btn-primary"
                 (click)="linkEquipmentToSalle()" data-dismiss="modal" type="button">Enregistrer</button>
                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Fermer</button>
            </div>
        </div>
    </div>
</div>
</div>
