
    <!-- page-body-wrapper ends -->

      <!-- <app-header></app-header>
      <app-sidebar></app-sidebar> -->
      <!-- Header-->
     
      <!-- Navigation-->
      <div class="main-content app-content">

        <app-sidemenu></app-sidemenu>
        <app-navbar></app-navbar>
      <!-- End header-->
      <!-- End navigation-->
      <!-- Main content-->
      <!-- <section class="content"> -->
      <div class="container-fluid mg-t-20">
      <router-outlet></router-outlet>
      </div>
      </div>
      <!-- </section> -->
