
    <!-- page-body-wrapper ends -->

      <!-- <app-header></app-header>
      <app-sidebar></app-sidebar> -->
      <!-- Header-->
    
      
      <!-- Navigation-->
      <div class="main-content app-content" id="main" style="display: {{is_login?'block':'none'}};">

        <app-sidemenu></app-sidemenu>
        <app-navbar></app-navbar>
      <!-- End header-->
      <!-- End navigation-->
      <!-- Main content-->
      <!-- <section class="content"> -->
      <div class="container-fluid mg-t-20">
      <router-outlet></router-outlet>
      </div>
      </div>
      <app-sign-in style="display: {{!is_login?'block':'none'}};"></app-sign-in>
      
      
      <!-- <app-sign-in ></app-sign-in> -->
      <!-- </section> -->
