.btn-main-primary, .btn-main-primary.focus, .btn-main-primary:focus, .btn-main-primary:hover {
  color: #fff;
  background-color: #842e1b !important;
  border-color: #842e1b !important;
}
.modal .col-lg{
  margin-bottom: 15px !important;
}
