<div class="row row-sm">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header pb-0 pd-t-25 ">
                <div class="d-flex justify-content-between mb-5">
                    <h4 class="card-title mg-t-5">OPERATIONS</h4>
                    <div class="col-sm-5 col-md-2 mg-t-10 mg-sm-t-0">
                        <button (click)="wantToAddOperation()" class="btn btn-primary btn-with-icon btn-block" data-target="#add" data-toggle="modal"><i class="typcn typcn-plus"></i></button>
                    </div>
    
                </div>
               
                <div class="d-flex justify-content-between mb-3">
                
                    <p class="tx-15 text-muted mb-2">Liste des operations</p>
                    <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                        <div class="input-group">
                            <input class="form-control" placeholder="Recherchez par nom " type="text" [(ngModel)]="searchOperation" (ngModelChange)="filterOperation()"> <span class="input-group-btn"><button class="btn btn-light" type="button"><span class="input-group-btn"><i class="fa fa-search"></i></span></button></span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered text-nowrap">
                        <thead style="text-align: center;">
                            <tr>
                                <th class="wd-15p border-bottom-0">Nom</th>
                                <th class="wd-5p border-bottom-0">Action</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr *ngFor="let operation of operations">
                                <td>{{ operation.intitule }}</td>
                                <td >
                                    <div class="btn-icon-list mx-5">
                                        <button class="btn btn-warning btn-icon" (click)="selectOperation(operation)" data-target="#edit" data-toggle="modal"><i class="typcn typcn-brush"></i></button>
                                        <button class="btn btn-danger btn-icon" (click)="selectOperation(operation)" data-target="#delete" data-toggle="modal"><i class="typcn typcn-trash"></i></button>
                                    </div>
                                        
                                </td>
                            </tr>
                            <!-- <tr *ngFor="let agence of agences">
                                <th> <input type="checkbox" (click)="checkAgence(agence.id)"></th>
                                <td>{{ agence.nom }}</td>
                                <td>{{ agence.localisation | slice:0:20}} </td>
                                <td>{{ agence.nbremploye }}</td>
                                <td>{{ agence.nbrequipement }}</td>
                                <td>{{ agence.created_at | date:"MMM d, y, h:mm:ss a" }}</td>
                                <td style="align-items:center">
                                    <div class="btn-icon-list">
                                        <button class="btn btn-warning btn-icon"><i class="typcn typcn-brush"></i></button>
                                        <button class="btn btn-danger btn-icon"><i class="typcn typcn-trash"></i></button>
                                        <button class="btn btn-primary btn-icon"><i class="typcn typcn-eye-outline"></i></button>
                                    </div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <!-- bd -->
            </div><!-- bd -->
        </div><!-- bd -->
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header pb-0 pd-t-25 ">
                <div class="d-flex justify-content-between mb-5">
                    <h4 class="card-title mg-t-5">ETATS</h4>
                    <div class="col-sm-5 col-md-2 mg-t-10 mg-sm-t-0">
                        <button (click)="wantToAddEtat()" class="btn btn-primary btn-with-icon btn-block" data-target="#add" data-toggle="modal"><i class="typcn typcn-plus"></i></button>
                    </div>
    
                </div>
               
                <div class="d-flex justify-content-between mb-3">
                
                    <p class="tx-15 text-muted mb-2">definition des types d'etats d'equipements</p>
                    <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                        <div class="input-group">
                            <input class="form-control" placeholder="Recherchez par nom " type="text" [(ngModel)]="searchOperation" (ngModelChange)="filterEtat()"> <span class="input-group-btn"><button class="btn btn-light" type="button"><span class="input-group-btn"><i class="fa fa-search"></i></span></button></span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered text-nowrap">
                        <thead style="text-align: center;">
                            <tr>
                                <th class="wd-15p border-bottom-0">Nom</th>
                                <th class="wd-5p border-bottom-0">Action</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr *ngFor="let etat of etats">
                                <td>{{ etat.intitule }}</td>
                                <td >
                                    <div class="btn-icon-list mx-5">
                                        <button class="btn btn-warning btn-icon" (click)="selectEtat(etat)" data-target="#edit" data-toggle="modal"><i class="typcn typcn-brush"></i></button>
                                        <button class="btn btn-danger btn-icon" (click)="selectEtat(etat)" data-target="#delete" data-toggle="modal"><i class="typcn typcn-trash"></i></button>
                                    </div>
                                        
                                </td>
                            </tr>
                            <!-- <tr *ngFor="let agence of agences">
                                <th> <input type="checkbox" (click)="checkAgence(agence.id)"></th>
                                <td>{{ agence.nom }}</td>
                                <td>{{ agence.localisation | slice:0:20}} </td>
                                <td>{{ agence.nbremploye }}</td>
                                <td>{{ agence.nbrequipement }}</td>
                                <td>{{ agence.created_at | date:"MMM d, y, h:mm:ss a" }}</td>
                                <td style="align-items:center">
                                    <div class="btn-icon-list">
                                        <button class="btn btn-warning btn-icon"><i class="typcn typcn-brush"></i></button>
                                        <button class="btn btn-danger btn-icon"><i class="typcn typcn-trash"></i></button>
                                        <button class="btn btn-primary btn-icon"><i class="typcn typcn-eye-outline"></i></button>
                                    </div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <!-- bd -->
            </div><!-- bd -->
        </div><!-- bd -->
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header pb-0 pd-t-25 ">
                <div class="d-flex justify-content-between mb-5">
                    <h4 class="card-title mg-t-5">OUTILLAGES</h4>
                    <div (click)="wantToAddOutillage()" class="col-sm-5 col-md-2 mg-t-10 mg-sm-t-0">
                        <button class="btn btn-primary btn-with-icon btn-block" data-target="#add" data-toggle="modal"><i class="typcn typcn-plus"></i></button>
                    </div>
    
                </div>
               
                <div class="d-flex justify-content-between mb-3">
                
                    <p class="tx-15 text-muted mb-2">Liste des outillages</p>
                    <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                        <div class="input-group">
                            <input class="form-control" placeholder="Recherchez par nom " type="text" [(ngModel)]="searchOutillage" (ngModelChange)="filterOutillage()"> <span class="input-group-btn"><button class="btn btn-light" type="button"><span class="input-group-btn"><i class="fa fa-search"></i></span></button></span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered text-nowrap">
                        <thead style="text-align: center;">
                            <tr>
                                <th class="wd-15p border-bottom-0">Nom</th>
                                <th class="wd-5p border-bottom-0">Action</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr *ngFor="let outillage of outillages">
                                <td>{{ outillage.intitule }}</td>
                                <td >
                                    <div class="btn-icon-list mx-5">
                                        <button class="btn btn-warning btn-icon" (click)="selectOutillage(outillage)" data-target="#edit" data-toggle="modal"><i class="typcn typcn-brush"></i></button>
                                        <button class="btn btn-danger btn-icon" (click)="selectOutillage(outillage)" data-target="#delete" data-toggle="modal"><i class="typcn typcn-trash"></i></button>
                                    </div>
                                        
                                </td>
                            </tr>
                            <!-- <tr *ngFor="let agence of agences">
                                <th> <input type="checkbox" (click)="checkAgence(agence.id)"></th>
                                <td>{{ agence.nom }}</td>
                                <td>{{ agence.localisation | slice:0:20}} </td>
                                <td>{{ agence.nbremploye }}</td>
                                <td>{{ agence.nbrequipement }}</td>
                                <td>{{ agence.created_at | date:"MMM d, y, h:mm:ss a" }}</td>
                                <td style="align-items:center">
                                    <div class="btn-icon-list">
                                        <button class="btn btn-warning btn-icon"><i class="typcn typcn-brush"></i></button>
                                        <button class="btn btn-danger btn-icon"><i class="typcn typcn-trash"></i></button>
                                        <button class="btn btn-primary btn-icon"><i class="typcn typcn-eye-outline"></i></button>
                                    </div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <!-- bd -->
            </div><!-- bd -->
        </div><!-- bd -->
    </div>
    
    </div>
    <!-- Delete operation  -->
<div class="modal" id="delete">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button> <i class="icon icon ion-ios-close-circle-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-danger mg-b-20">Attention : Suppression element </h4>
                <p class="mg-b-20 mg-x-20">Voulez vous vraiment valider la suppression  ?  <span style="font-weight:bolder">{{ selectedElement?.intitule }} ?</span> </p>
                <div style="display:flex;justify-content:space-between">
                    <button aria-label="Close" class="btn ripple btn-light pd-x-25" data-dismiss="modal" type="button">Annuler</button>
                    <button aria-label="Close" class="btn ripple btn-danger pd-x-25" (click)="delete(selectedElement?.id!)" data-dismiss="modal" type="button">Continue</button>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- Add operation  -->
<div class="modal" id="add">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Ajout/Insertion</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h6 style="font-weight:bolder;margin-top:10px">Intitule</h6>
                <div class="col-lg">
                    <input class="form-control" placeholder="Input box" type="text" [(ngModel)]="selectedIntitule">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn ripple btn-light" data-dismiss="modal" type="button">Annuler</button>
                <button class="btn ripple btn-primary" data-dismiss="modal" type="button" (click)="add()">Valider</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit operation -->
<div class="modal" id="edit">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Modification de l'element selectionne</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h6 style="font-weight:bolder;margin-top:10px">Intitule</h6>
                <div class="col-lg">
                    <input class="form-control" placeholder="Input box" type="text" [(ngModel)]="selectedElement.intitule">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn ripple btn-light" data-dismiss="modal" type="button" >Annuler</button>
                <button class="btn ripple btn-primary" data-dismiss="modal" type="button" (click)="edit(selectedElement?.id!)">Valider</button>
            </div>
        </div>
    </div>
</div>